<div class="w3-right-align w3-text-blue-gray">
<a href="https://www.facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="bagi fa fa-facebook-square w3-hover-text-indigo"></i></a>
<a href="https://twitter.com/intent/tweet?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank"><i class="w3-round-xlarge bagi fa fa-twitter w3-hover-text-blue"></i></a>
<a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank"><i class="bagi fa fa-google-plus-official w3-hover-text-red"></i></a>
</div>
