<div class="w3-right-align">
<h4 class="bagik w3-text-blue-gray">Bagikan 
<a href="https://www.facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="bagi2 fa fa-facebook-square w3-hover-text-indigo"></i></a>
<a href="https://twitter.com/intent/tweet?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank"><i class="bagi2 fa fa-twitter-square w3-hover-text-blue"></i></a>
<a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank"><i class="bagi2 fa fa-google-plus-official w3-hover-text-red"></i></a>
</h4>
</div>
