<!-- Navbar -->
<div class="cd-top">
  <div class="cd-bar cd-blue cd-card-2 cd-left-align cd-large cd-animate-top">
    <a class="cd-bar-item cd-button cd-hide-medium cd-hide-large cd-opennav cd-right cd-padding-large cd-hover-white cd-large cd-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
<!--	<a href="/" class="cd-bar-item cd-left cd-padding-large bagusak">{% include moto.html %}</a> -->
	 {% if page.url == '/' %}<a id="nengah" class="cd-bar-item cd-button cd-padding-large cd-white" {% else %}<a id="nengah" class="cd-bar-item cd-button cd-padding-large cd-hover-white"{% endif %} href="/">Home</a>
	{% if page.url == '/note/' %}<a class="cd-bar-item cd-button cd-padding-large cd-white"{% else %}<a class="cd-bar-item cd-button cd-hide-small cd-padding-large cd-hover-white"{% endif %} href="/note/">Note's</a>
	{% if page.url == '/about/' %}<a  class="cd-bar-item cd-button cd-padding-large cd-white"{% else %}<a class="cd-bar-item cd-button cd-hide-small cd-padding-large cd-hover-white"{% endif %} href="/about/">About</a>
    <!-- <a href="#" class="cd-bar-item cd-button cd-hide-small cd-padding-large cd-hover-white">Link 2</a>
    <a href="#" class="cd-bar-item cd-button cd-hide-small cd-padding-large cd-hover-white">Link 3</a>
    <a href="#" class="cd-bar-item cd-button cd-hide-small cd-padding-large cd-hover-white">Link 4</a>  -->
  </div>

  <!-- Navbar on small screens  -->
  <div id="navDemo" class="cd-bar-block cd-white cd-hide cd-hide-large cd-hide-medium cd-large">
    <a href="/note" class="cd-bar-item cd-button cd-padding-large">Note's</a> 
    <a href="/about" class="cd-bar-item cd-button cd-padding-large">About</a>
    <!--<a href="#" class="cd-bar-item cd-button cd-padding-large">Link 2</a>
    <a href="#" class="cd-bar-item cd-button cd-padding-large">Link 3</a>
    <a href="#" class="cd-bar-item cd-button cd-padding-large">Link 4</a> -->
  </div>
</div>
