<!DOCTYPE html>
<html lang="id">
<head>
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="theme-color" content="#2196F3">
<meta charset="UTF-8">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="/aset/css/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"> 
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Titillium Web', sans-serif;}.w3-bar,h1,button {font-family: 'Titillium Web', sans-serif;}
.fa-info-circle,.fa-heartbeat {font-size:200px}
footer {display:none}
@media (max-width: 600px) {.fa-info-circle,.fa-heartbeat {display:none;}}
</style>
</head>