<!--  <section id="kutipan" class="kutipan">
<div class="w3-container w3-blue w3-center w3-padding-64">
    <h3 class="w3-margin w3-xlarge"><i class="fa fa-quote-left" aria-hidden="true"></i> Aku sudah pernah merasakan semua kepahitan dalam hidup, dan yang paling pahit adalah berharap kepada manusia. Ali Bin Abi Thalib <i class="fa fa-quote-right" aria-hidden="true"></i>
</h3>
</div>
  </section>
  -->
  
<!-- Sekrip Jowo -->
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47050566 = new Ya.Metrika({ id:47050566, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47050566" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/aset/js/munggah.js"></script>
<script src="/aset/js/hahaha.js"></script>