 {% include ndas.html %}
 <body>
  {% include gulu.html %}
<!-- Header -->
<header class="w3-container w3-blue w3-center w3-padding-128">
  <h1 class="w3-margin w3-jumbo">Hi, Aku Bagus.!</h1>
  <p class="w3-xlarge">Tak kan Selamanya</p>
  <button class="w3-button w3-red w3-padding-large w3-large w3-margin-top w3-circle" onclick="window.location.href='#tentang'">Blog</button>
</header>


<!-- First Grid -->
 <section id="tentang" class="tentang">
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
 

 
Result Size: 637 x 527

<div class="w3-card-4 test" style="width:92%;max-width:300px;">
  <img src="https://avatars0.githubusercontent.com/u/18557160?s=460&v=4" alt="Avatar" style="width:100%;opacity:0.85">
  <div class="w3-container">
  <h4><b>Bagus18</b></h4>    
  <p>Architect and engineer</p>    
  </div>
</div>



  </div>
</div>

  {% include pupu.html %}
  {% include sikil.html %}