 {% include ndas.html %}
 <body>
  {% include gulu.html %}
<!-- Header 
<header class="w3-container w3-blue w3-center w3-padding-128">
  <h1 class="w3-margin w3-jumbo">Hi, Aku Bagus.!</h1>
  <p class="w3-xlarge">Tak kan Selamanya</p>
  <button class="w3-button w3-red w3-padding-large w3-large w3-margin-top w3-circle" onclick="window.location.href='#tentang'">Blog</button>
</header>
-->

<!-- First Grid -->
 <section id="tentang" class="tentang">
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
  
 <div class="w3-card">
<header class="w3-container w3-light-grey">
  <h3>Bagus Ahmad</h3>
</header>
<div class="w3-container">
  <p>Jember, Indonesia</p>
  <hr>
  <img src="https://scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/21147673_147295005859891_2748196521550807040_a.jpg" alt="Avatar" class="w3-left w3-circle">
  <p><script src=//bagusahmad.github.io/bagus></scirpt>/p>
</div>
</div> 
  
  
  </div>
</div>

  {% include pupu.html %}
  {% include sikil.html %}