---
layout: null
img: https://scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/21147673_147295005859891_2748196521550807040_a.jpg
---
 {% include ndas.html %}
 <body>
  {% include gulu.html %}
<!-- The Grid -->
  <div class="cd-row-padding cd-padding-64 cd-container">
  
    <!-- Left Column -->
    <div class="cd-third">
    
      <div class="cd-white cd-text-grey cd-card-2 cd-animate-left">
        <div class="cd-display-container">
          <img class="cd-hover-grayscale cd-animate-zoom" src="{{ site.bagus18 }}" style="width:100%" alt="@bagus18">
          <div class="cd-display-bottomleft cd-center cd-black cd-container cd-opacity">
            <h2 class="cd-text-white" style="text-shadow:1px 1px 0 #444">Bagus Ahmad.<span class="cd-hide-small cd-hide-medium"> (bagus18)</span></h2>
          </div>
        </div>
        <div class="cd-container">
          <p><i class="fa fa-briefcase fa-fw cd-margin-right cd-large cd-text-blue"></i><a href="https://en.wikipedia.org/wiki/Webmaster">Webmaster</a></p>
          <p><i class="fa fa-home fa-fw cd-margin-right cd-large cd-text-blue"></i><a href="https://goez.cf/omah">Jember, ID</a></p>
          <p><i class="fa fa-map-marker fa-fw cd-margin-right cd-large cd-text-blue"></i><a href="https://goez.cf/ptff">Sampit, ID</a></p>
          <p><i class="fa fa-envelope fa-fw cd-margin-right cd-large cd-text-blue"></i><a href="mailto:bagus18@yandex.com">bagus18<i class="fa fa-at" aria-hidden="true"></i>yandex.com</a></p>
          <p><i class="fa fa-telegram fa-fw cd-margin-right cd-large cd-text-blue"></i><i class="fa fa-at" aria-hidden="true"></i><a href="//t.me/bagusa">bagusa</a></p>
          <hr>

          <p class="cd-large"><b><i class="fa fa-star-half-o fa-fw cd-margin-right cd-text-blue"></i>Keterampilan</b></p>
          <p>HTML, CSS, PhP, XML, Phyton, JS, RuBy </p>
          <div class="cd-light-grey cd-round-xlarge cd-small">
            <div class="cd-container cd-center cd-round-xlarge cd-blue" style="width:90%">90%</div>
          </div>
          <p>Adobe Photoshop</p>
          <div class="cd-light-grey cd-round-xlarge cd-small">
            <div class="cd-container cd-center cd-round-xlarge cd-cyan" style="width:80%">
              <div class="cd-center cd-text-white">80%</div>
            </div>
          </div>
          <p>CorelDRAW Graphics Suite</p>
          <div class="cd-light-grey cd-round-xlarge cd-small">
            <div class="cd-container cd-center cd-round-xlarge cd-teal" style="width:70%">70%</div>
          </div>
          <p>Scripting TCL, Perl</p>
          <div class="cd-light-grey cd-round-xlarge cd-small">
            <div class="cd-container cd-center cd-round-xlarge cd-blue-gray" style="width:50%">60%</div>
          </div>
          <hr>

          <p class="cd-large cd-text-theme"><b><i class="fa fa-globe fa-fw cd-margin-right cd-text-blue"></i>Bahasa</b></p>
          <p>Indonesia</p>
          <div class="cd-light-grey cd-round-xlarge">
            <div class="cd-round-xlarge cd-blue" style="height:27px;width:99%"></div>
          </div>
          <p>Jawa</p>
          <div class="cd-light-grey cd-round-xlarge">
            <div class="cd-round-xlarge cd-cyan" style="height:26px;width:85%"></div>
          </div>
          <p>English</p>
          <div class="cd-light-grey cd-round-xlarge">
            <div class="cd-round-xlarge cd-teal" style="height:26px;width:70%"></div>
          </div>
          <br>
        </div>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="cd-twothird cd-animate-right">
    
      <div class="cd-container cd-card-2 cd-white cd-margin-bottom">
        <h2 class="cd-text-grey cd-padding-16"><i class="fa fa-suitcase fa-fw cd-margin-right cd-xxlarge cd-text-blue"></i>Pekerjaan</h2>
        <div class="cd-container">
          <h5 class="cd-opacity"><b>IT</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-o fa-fw cd-margin-right"></i>Jan 2012 - <span class="cd-tag cd-red cd-round">Saat ini</span></h6>
          <p class="cd-text-gray">IT Administrator & Workshop Maintenance di PT. FF</p>
          <hr>
        </div>
        <div class="cd-container">
          <h5 class="cd-opacity"><b>Webmaster</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-o fa-fw cd-margin-right"></i>Mar 2011 - <span class="cd-tag cd-deep-orange cd-round">Saat ini</span></h6>
          <p class="cd-text-gray">Dev, Maintenance & Webmaster di beberapa situs, blog & forum milik teman</p>
          <hr>
        </div>
        <div class="cd-container">
          <h5 class="cd-opacity"><b>Tukang Sapu</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-times-o fa-fw cd-margin-right"></i>2010</h6>
          <p class="cd-text-gray">Dulu saya bekerja di Bengkel Kumal (Kupu Kupu Malam) di Jogja.</p><br>
        </div>
      </div>

      <div class="cd-container cd-card-2 cd-white">
        <h2 class="cd-text-grey cd-padding-16"><i class="fa fa-graduation-cap fa-fw cd-margin-right cd-xxlarge cd-text-blue"></i>Pendidikan</h2>
        <div class="cd-container">
          <h5 class="cd-opacity"><b>WEC Malang</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-check-o fa-fw cd-margin-right"></i>2010</h6>
          <p class="cd-text-gray">Jurusan Desain Grafis Komputer (DK2)</p>
          <hr>
        </div>
        <div class="cd-container">
          <h5 class="cd-opacity"><b>SMKT Balung</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-check-o fa-fw cd-margin-right"></i>2006 - 2009</h6>
          <p class="cd-text-gray">Jurusan Mekanik Otomotif (MO1, MO1, MO3)</p>
          <hr>
        </div>
        <div class="cd-container">
          <h5 class="cd-opacity"><b>SMPN 3 Wonorejo</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-check-o fa-fw cd-margin-right"></i>2001 - 2006</h6>
          <p class="cd-text-gray">SMP Negeri 3 Wonorejo Kencong / SMPN2 Wonorejo (1B, 2C, 3C)</p>
		  <hr>
        </div>
		<div class="cd-container">
          <h5 class="cd-opacity"><b>Mi Al-Islah Jatiagung</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-check-o fa-fw cd-margin-right"></i>1996 - 2001</h6>
          <p class="cd-text-gray">Saya sekolah dasar di desa tempat saya tinggal, yaitu Jatiagung Gumukmas.</p>
		  <hr>
        </div>
		<div class="cd-container">
          <h5 class="cd-opacity"><b>TK Siti Khadijah Jatiagung</b></h5>
          <h6 class="cd-text-blue"><i class="fa fa-calendar-check-o fa-fw cd-margin-right"></i>1995 - 1996</h6>
          <p class="cd-text-gray">Mengawali pendidikan saya menduduki bangku di TK desa tempat saya lahir.</p>
		  <br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>

  {% include pupu.html %}
  {% include sikil.html %}