---
layout: null
img: https://scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/21147673_147295005859891_2748196521550807040_a.jpg
---
 {% include ndas.html %}
 <body>
  {% include gulu.html %}
<!-- Header -->
<header class="w3-container w3-blue w3-center w3-padding-128 w3-animate-zoom">
  <h1 class="w3-margin w3-jumbo">Hai, Aku Bagus.!</h1>
  <p class="w3-xlarge"><sup class="fa fa-quote-left bagusak" aria-hidden="true"></sup> Hal paling mengagumkan dalam hidupku adalah saat aku mengingat masa-masa kecilku dulu <sub class="fa fa-quote-right bagusak" aria-hidden="true"></sub><br /><br /> <span class="w3-text-red bagusak">~</span><span class="bagusak"> Bagus Ahmad</span></p><br />
  <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top w3-circle w3-hover-red w3-animate-top" onclick="window.location.href='#tentang'"><i class="fa fa-angle-double-down fa-lg ld ld-slide-ttb" aria-hidden="true"></i></button>
<br /></header>


<!-- First Grid -->
 <section id="tentang" class="tentang">
<div class="w3-row-padding w3-padding-64 w3-container w3-animate-left">
  <div class="w3-content">
    <div class="w3-twothird">
      <h2>Tentang Bagus</h2>
      <h5 class="w3-padding-32">Namaku Bagus Ahmad, biasa di panggil yang akrab ditelingaku gus, gos dan kucen, atau panggil saja bagus, Aku adalah anak ke 4 dari pasangan Ibu Siyami & Bpk Sujarwan.</h5>
<p class="w3-text-grey">Aku dilahirkan di Desa Jatiagung, Gumukmas Jember Jawa Timur. Aku pernah menduduki bangku di MI Al Islah Jatiagung, SMP Negeri 3 Wonorejo, SMKT Balung, dan Jurusan Desain Grafis Komputer ( Wearnes Education Center ) Malang, angkatan 2009.


</p>
    </div>
    <div class="w3-third w3-center">
      <i class="fa fa-info-circle w3-padding-64 w3-text-teal w3-hover-text-blue-grey ld ld-flip-v"></i>
    </div>
  </div>
</div>
</section>
<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container w3-animate-right">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-heartbeat w3-padding-64 w3-text-red w3-hover-text-blue w3-margin-right ld ld-surprise"></i>
    </div>

    <div class="w3-twothird">
      <h2>Hobi Bagus</h2>
      <h5 class="w3-padding-32">Hobiku adalah tertawa, travelling, gowes, tidur, internet, writing, programing, web designer, irc, blogging,  basketball and sometimes want to be alone.</h5>

      <p class="w3-text-grey">Tentang aku: Penikmat kopi. Pencari informasi. Pecinta kode. Kekasih komputer & gadget. Pintar untuk menjadi bodoh.

Only a Dreamer And I’m Not the Only One.

Senang berkenalan dengan anda. 😉</p>
    </div>
  </div>
</div>

  {% include pupu.html %}
  {% include sikil.html %}