---
layout: null
img: https://scontent-sin6-1.cdninstagram.com/t51.2885-19/s150x150/21147673_147295005859891_2748196521550807040_a.jpg
---
 {% include ndas.html %}
 <body>
  {% include gulu.html %}
<!-- The Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-2 w3-animate-left">
        <div class="w3-display-container">
          <img src="https://scontent-sit4-1.cdninstagram.com/t51.2885-15/e35/15535345_1616912278618409_3317526163559022592_n.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 class="w3-indigo"><span class="fa fa-quote-left"></span> Bagus A. (bagus18) <span class="fa fa-quote-right"></span></h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>Webmaster</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i><a href="https://goez.cf/omah">Jember, ID</a></p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i><a href="mailto:bagus18@yandex.com">bagus18<i class="fa fa-at" aria-hidden="true"></i>yandex.com</a></p>
          <p><i class="fa fa-telegram fa-fw w3-margin-right w3-large w3-text-blue"></i><i class="fa fa-at" aria-hidden="true"></i><a href="//t.me/bagusa">bagusa</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-blue"></i>Keterampilan</b></p>
          <p>HTML, CSS, PhP, XML, Phyton, JS, RuBy </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:90%">90%</div>
          </div>
          <p>Adobe Photoshop</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-cyan" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>CorelDRAW Graphics Suite</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Scripting TCL, Perl</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue-gray" style="width:50%">60%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Bahasa</b></p>
          <p>Indonesia</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-blue" style="height:25px;width:99%"></div>
          </div>
          <p>Jawa</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-blue" style="height:25px;width:85%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-blue" style="height:25px;width:70%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird w3-animate-right">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Pekerjaan</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>IT</b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar-o fa-fw w3-margin-right"></i>Jan 2012 - <span class="w3-tag w3-blue w3-round">Saat ini</span></h6>
          <p class="w3-text-gray">IT Administrator & Workshop Maintenance di PT. FF</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Webmaster</b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar-o fa-fw w3-margin-right"></i>Mar 2011 - <span class="w3-tag w3-blue w3-round">Saat ini</span></h6>
          <p class="w3-text-gray">Dev, Maintenance & Webmaster di beberapa situs, blog & forum milik teman</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Tukang Sapu</b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar-o fa-fw w3-margin-right"></i>2010</h6>
          <p class="w3-text-gray">Dulu saya bekerja di Bengkel Kumal (Kupu Kupu Malam) di Jogja.</p><br>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Pendidikan</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>WEC Malang</b></h5>
          <h6 class="w3-text-blue"><i class="calendar-check-o fa-fw w3-margin-right"></i>2010</h6>
          <p class="w3-text-gray">Jurusan Desain Grafis Komputer (DK2)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>SMKT Balung</b></h5>
          <h6 class="w3-text-blue"><i class="calendar-check-o fa-fw w3-margin-right"></i>2006 - 2009</h6>
          <p class="w3-text-gray">Jurusan Mekanik Otomotif (MO1, MO1, MO3)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>SMPN 3 Wonorejo</b></h5>
          <h6 class="w3-text-blue"><i class="calendar-check-o fa-fw w3-margin-right"></i>2001 - 2006</h6>
          <p class="w3-text-gray">SMP Negeri 3 Wonorejo Kencong / SMPN2 Wonorejo (1B, 2C, 3C)</p><br>
        </div>
		<div class="w3-container">
          <h5 class="w3-opacity"><b>Mi Al-Islah Jatiagung</b></h5>
          <h6 class="w3-text-blue"><i class="calendar-check-o fa-fw w3-margin-right"></i>1996 - 2001</h6>
          <p class="w3-text-gray">Saya sekolah dasar di desa tempat saya tinggal, yaitu Jatiagung Gumukmas.</p><br>
        </div>
		<div class="w3-container">
          <h5 class="w3-opacity"><b>TK Siti Khadijah Jatiagung</b></h5>
          <h6 class="w3-text-blue"><i class="calendar-check-o fa-fw w3-margin-right"></i>1995 - 1996</h6>
          <p class="w3-text-gray">Mengawali pendidikan saya menduduki bangku di TK desa tempat saya lahir.</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>

  {% include pupu.html %}
  {% include sikil.html %}