{% include ndas.html %}
 <body>
 <!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card-2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-opennav w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	 {% if page.url == '/' %}<a class="w3-bar-item w3-button w3-padding-large w3-white"{% else %}<a class="w3-bar-item w3-button w3-padding-large w3-hover-white"{% endif %} href="/">Home</a>
	<a class="w3-bar-item w3-button w3-padding-large w3-red w3-hover-white" href="/blog/">Blog</a>
	{% if page.url == '/about/' %}<a  class="w3-bar-item w3-button w3-padding-large w3-white"{% else %}<a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"{% endif %} href="/about/">Tentang</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>  -->
  </div>

  <!-- Navbar on small screens  -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/about" class="w3-bar-item w3-button w3-padding-large">Tentang</a>
    <!--<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a> -->
  </div>
</div>

 <div class="w3-row-padding w3-padding-64 w3-container w3-card-2">
  <div class="w3-content">

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title w3-text-blue" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta w3-text-grey w3-small"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} oleh <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
<hr />
<h2>Bagikan</h2>
<a href="https://www.facebook.com/sharer.php?u={{site.url }}"><i class="fa fa-facebook"></i></a>

  </div>
  </div>
  {% include pupu.html %}
  {% include sikil.html %}
